
.password {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .password input {
    width: 25px;
    height:40px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px rgba(233, 92, 92, 0.6);
    font-size: 20px;
    color: rgba(233, 92, 92, 0.6);
    outline: none;
    margin-top: 20px;
  }
  #text {
    color: rgba(255, 215, 0, 0.7);
    font-size: 20px;
    margin-bottom: 20px;
  }